body, ul{
    margin: 0;
    padding: 0;
    background-color: #212529;
}

.header{
    display: flex;
    justify-content: space-between; /* Перший і останній елемент буде притискатись до правої і лівої осі */
    align-items: center;
    padding: 15px 50px 0 50px;
}

li.nav-item > a, .header-botton{
    text-transform: capitalize; /* Переводить перші букви тексту у верхній реєстр */
    text-decoration: none; /* Видалили підкреслення */
    color: white;
    padding: 25px 12.5px; /* Відступи між текстом */
    box-sizing: border-box;
    transition: all .3s;  /* Зміна всіх властивостей на.. */
}

li.nav-item > a:hover{   /* Вказує на перший рівень вкладеності */
    color: #FFB742;
}

.header-botton{
    color: #212529;
    padding: 12px 26px;
    background-color: #FFB742;
    border-radius: 50px;
}

.nav{
    list-style: none; /* Прибрали стилі у списках */
    display: flex; /* Вирівняли списки */
}

.nav-item{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: white;
}

.header-botton{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #212529;
}
                 /* header */

.KartikBansal{
    padding: 108px 238px 0 238px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title{
    color: white;
    font-size: 32px;
    font-family: 'Inter';
    font-weight: 700;
}

.title span{
    color: #FFB742;
    border-bottom: 2px solid ;
}

.Creative{
    color: white;
    font-size: 48px;
    font-weight: 700;
    font-family: 'inter';
}

.design{
    color: white;
    font-size: 24px;
    font-weight: 400;
    font-family: 'inter';
}
                        /* KartikBansal */

.cards{
    padding: 136px 72px 0 72px;
    display: flex;
    justify-content: center;
}

.card:hover{
    background-color: #FFB742;
    transition: all .4s;
    cursor: pointer;
}

.card:hover #five{
    color: black;
}

.card:hover #years{
    color: black;
}

.card:hover svg path{
    fill: black;
}

.card{
    background-color: #292B2E;
    height: 120px;
    width: 416px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card .text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#five{
    color: #FFB742;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Inter';
    position: relative;
    top: 6px;
}

#years{
    color: white;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Inter';
    position: relative;
    bottom: 10px;
}

.cardmargin{
    margin: 0 24px;
}
                     /* Cards */


.about{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 140px;
    padding: 0 50px;
}

.abouttext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 680px;
}


.who{
    width: 148px;
    height: 42px;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    color: #FFB742;
    text-transform: uppercase;
}

.who span{
    position: relative;
    top: 6px;
}

.me{
    color: white;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 48px;
    text-transform: capitalize;
    padding-top: 10px;
}

.description{
    color: #D5D5D5;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    padding-top: 20px;
}

.hire{
    padding-top: 70px;
}
                                /* About */


.featured{
    margin-top: 65px;
    padding: 0 115px;
}

.head{
    display: flex;
    justify-content: center;
}

.myworks{
    width: 160px;
    height: 42px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.08);
    display: flex;
    justify-content: center;
}

.myworks span{
    color: #FFB742;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    padding-top: 6px;
    text-transform: uppercase;
}

.works{
    color: white;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 48px;
    text-transform: capitalize;
    text-align: center;
}

.all{
    padding: 0 380px;
}

.all p{
    padding: 10px 20px; 
}

#list{ 
    display: flex;
    justify-content: space-around;
    color: white;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
}

.all p:hover{
    cursor: pointer;
    background-color: #FFB742;
    border-radius: 3px;
    color: black;
    transition: all .4s;
}

                 /* My Works */


.photogroup{
    margin-top: 30px;
    padding: 0 160px;
}

.firstgroup{
    display: flex;
    justify-content: space-around;
}

.secondgroup{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
                /* photogroup */


#footer{
    margin-top: 120px;
    background-color: #1C1C1C;
    height: 470px;
    display: flex;
    justify-content:baseline;
    justify-content: center;
    justify-content: space-around;
}

.bansai{
    align-self: center;
    padding-bottom: 100px;
}

.useful{
    align-self: center;
}

.new{
    align-self: center;
    padding-bottom: 110px;
}

.bansai p{
    color: #FFB742;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 32px;
    text-transform: capitalize;
}

.bansai span{
    color: #D4D4D4;
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 16px;
}

.useful p{
    color: #F5FBF2;
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 21.5865px;
}

.useful ul{
    background-color: #1C1C1C;
    list-style: none;
    color: #7B7B7B;
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 17.9888px;
}






 





   


